body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}


.Header{
    text-align: center;
}
#bighead{
    font-size: 50px;
}

#smallhead{
    font-size: 30px;
}


.GameScreen{
    height: 600px;
    width: 100%;
}

#gamebuttonselect{
    background-color: black;
    height:60px;
    width: 100px;
    border-color: white;
    color: white;
    border-width: 5px;
    border-radius:5px;
    margin: 5px;
    padding: 5px;
}

.buttons{
    display: flex;
}